
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
    color: #333;
}
.header-area {
    padding: 12px 0px;
}
.header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.bg-black {
    background-color: #000000;
}
.bg-theme-yellow{
    background-color: #ffb443;
    border-color: #ffb443;
}
.logo-menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
} 

.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.maskhappy-f-icon {
    height: 36px;
    width: 36px;
    position: relative;
}


.my-films {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    min-width: 79px;
    white-space: nowrap;
    color:#fff;
}

.main-menu {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main-menu ul > li {
    display: inline-block;
    color: #ffffff;
    position: relative;
    margin-right:28px;
}

.main-menu ul > li > a {
    display: block;
    padding: 15px 20px 15px 40px;
}


.main-menu ul > li > a:hover{ background: rgba(255, 255, 255, 0.12);
    border-radius: 30px; color:#fff;}

.home-icon, .Watchlist-icon, .Favourite-icon{position: relative;}
.home-icon-active::before, .Watchlist-icon::before, .Favourite-icon::before {
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    left: 13px;
    top: 19px;
}
.Watchlist-icon::before   {
    background: url(../images/monitorplayf.svg);
}
.Favourite-icon::before   {
    background: url(../images/heartstraightf.svg);
}
.right-side {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    max-width: 295px;
    width: 100%;
}
.our-profile-area {
    /* margin-left: 15px; */
    /* padding-left: 15px; */
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.our-profile-area img {
   display: flex;
}
.our-profile-area .name-email p {
    color: #fff;
    margin: 0 20px;
    line-height: 20px;
}
.our-profile-area .name-email p span {
    font-weight: 700;
}
.our-profile-area .our-profile-pc {
    min-width: 32px;
    height: 32px;
    line-height: 19px;
    color: #FFF;
    cursor: pointer;
    border-radius: 50%;
    background: #3c3c3c;
    text-align: center;
    padding: 9px 12px;
}
main {
    background: #181818;
}

.mobile-menu {
    width: 26px !important;
    height: 18px;
    margin-left: 15px;
}


button.subscribe-btn {
    border-radius: 50%;
    padding: 0 8px;
    opacity: 0.2;
}
.main-menu ul > li:last-child{margin-right: 0px}
.banner-image {
    background: url(../images/banner-img.png) no-repeat;
    padding:8% 20px 15%;
    background-position:center;
}

.welcome-to-my-container {
    margin: 0;
    position: relative;
    letter-spacing: -0.01em;
    display: inline-block;
    max-width: 200%;
    z-index: 2;
    font-size:36px;
}

.welcome-to-my {
    margin: 0;
    font-weight: 300;
    color: #fff;
}
.your-favorite-movies-series {
    margin: 0;
    color:#ffb443;
    font-weight: 700;
}

.slider-popup {
    padding: 24px;
    color: #fff;
}

.slider-popup h2 {
    font-size: 24px;
    margin-bottom: 24px;
}

.slider-popup p {
    font-size: 15px;
    line-height: 18px;
}

.slider-popup li {float: left;font-size: 15px;}

.slider-popup li:first-child {
    margin-right: 3px;
}
/* .slider-rating {
    padding: 0 40px;
} */
@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
}





.our-profile-area .dropbtn:hover, .our-profile-area .dropbtn:focus {
  background-color:rgba(255,255,255,0.12);
}

.our-profile-area  .dropdown {
  position: relative;
  display: inline-block;
}

.our-profile-area .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
  right: 26px;
}

.our-profile-area  .dropdown-content a {
  color: black;
  padding:5px 12px;
  text-decoration: none;
  display: block;
}

.our-profile-area  .dropdown a:hover {background-color: #ddd;}

.our-profile-area  .show {display: block;}

.search-bar-parent {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.35);
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    cursor: pointer;
    z-index: 2;
    display: flex;
    padding: 10px;
    margin-top: 50px;
    color: #fff;
    height: 55px;
    width: 100%;
    font-size: 18px;
}


.search-bar-parent option {
    color: #000;
}
.search-bar {
    width: 90%;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0 0;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 18px;
    color:#fff;
    display: flex;

}

.magnifyingglass-r-icon {
    height: 32px;
    width: 32px;
    position: relative;
    display: flex;

}
.watchlists,  .category-title {
    margin: 0;
    font-size:24px;
}

.view-all1, .watchlists, .category-title {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
    color:#fff;
}

.view-all-watchlist {
    flex-direction: row;
    gap: var(--gap-xs);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.view-all-watchlist-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
}

.view-all1{
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
    font-size:16px;

}
.watchlist-content {
    text-align: right;
    margin-top: 5px;
}
.category-items {
    border-radius:12px;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    position: relative;

}

.category-background-icon, .category-border-icon, .category-gradient-icon, .category-poster-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    min-height: 360px;
}

.category-info {
    margin: 0 !important;
    position: absolute;
    top: 270px;
    left: 0;
    flex-direction: column;
    padding: 0 20px 20px 15px;
    box-sizing: border-box;
    gap: var(--gap-3xs);
    z-index: 1;
}
.category-info, .category-items {
    max-width: 245px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
        color: #fff;
        font-size: 18px;
        margin-bottom: 5px;

}
.sci-fi-movies {
    margin: 0;
    font-size:18px;
    font-weight: 600;
    
}
.films-14h, .sci-fi-movies {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    display: inline-block;
}
.films-14h {
    font-size:15px;
    white-space: nowrap;
    min-width: 115px;
}

.footer {
    background-color:#000;
    justify-content: space-between;
    padding: 24px 0px;
    text-align: left;
    font-size:14px;
    color:#fff;
}

.privacy-policy-terms-and-container {
    height: 30px;
    line-height: 30px;
    color:#fff;
    text-align: right;
}
.view-content {
    text-align: right;
}
.view-content button {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 30px;
    border: 0;
    padding: 9px 15px;
}

.Search-btn, .reset-btn{
    width: 46%!important;
    display: inline;
}
.Search-btn {
    margin-left: 5%;
    background: #FFB443;
    color: #000;
}
.reset-btn {
    color: #FFB443;
    border: 1px solid #FFB443;
}

.detail-view .search-bar-parent {
    margin-top: 0;
}
.rating .films-14h{min-width:auto}
.favourite-icon {
    position: absolute;
    top: 12px;
    left: 10px;
    z-index:1;
}

.trash-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    z-index:1;
}

.offline-screen{
    background:#FFf
}
.offline-screen header h3{
    color:#000;}
.offline-page h1{ 
    font-size:24px; 
    color:#000; 
    font-weight:600; 
}
.offline-page button{ 
    color:#000; 
    background:#FCB040; 
    border:0px; 
    font-size:16px; 
    max-width:250px; 
    width:100%; 
    border-radius:5px;
 }
.login-form h3{ 
    color:#fff; 
    font-size:36px;
     }
.login-form h3 span{ 
    color:#fcb040; 
    font-weight: 600;
     }
 .login-form .form-label{ 
 color:#fff; 
 font-size:16px; 
} 
.login-form .signin-text{ color:#fff;
    font-size: 16px; }   
.signup-popup{text-align:left; color:#000;}
.btn-sign{ 
    background:#FCB040; 
    color:#000;
    font-size: 16px;
    font-weight: 600;
    line-height: 44px;
}
.btn-l{ line-height:45px; }

.signup-popup .form-label{color:#000;}

.btn-cancel {
    background: rgba(0, 0, 0, 0.18);
    font-size: 16px;
    line-height:30px;
}

.category-item-listś .category-info { position:inherit; padding-left:0px; } 
.category-item-listś h2 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 26px;
}
.category-item-listś p {
    font-size: 15px;
    color: #fff;
    line-height: 20px;
}
    
.category-item-listś .films-14h{
    margin-bottom: 12px;
}
.category-item-listś img:first-child {
    max-height: 260px;
    border-radius: 10px;
}

.category-item-listś .atf-btn, .slider-popup .atf-btn{

    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.35);
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    cursor: pointer;
    z-index: 2;
    display: flex;
    padding: 0px;
    margin-top: 50px;
    color: rgba(255, 255, 255, 1);
    height: 45px;
    width: 100%;
    font-size: 15px;

}

.category-item-listś .atw-btn, .slider-popup .atw-btn{

    border-radius: 5px;
    background-color:#FFB443;
    color:#000;
}
.owl-carousel .owl-item img{ width:auto!important; display: inline-block!important;
 }
.owl-carousel .owl-item .category-items{ margin:0 5px; }

.slider-popup .atf-btn{ width:48%; display:inline-block; }
.slider-popup .atf-btn {
    width: 48%;
    display: inline-block;
    margin: 20px 0 0 1%;
}
.btn-close-1 {
    box-sizing: content-box;
    width: 2em;
    height: 2em;
    padding: .25em .25em;
    color: #FFB443;
    background: url(../images/popup-cross.svg) center / 2em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    position: absolute;
    z-index: 99;
    right: 13px;
    top: 13px;
}
.imdb-rating {
    color: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background:rgba(255,255,255, 0.12);
}
.imdb-rating img {
    margin: 0 auto;
    display: block;
}

.rating-outer {
    padding: 0 24px;
}
.imdb-rating p{margin-bottom: 0px;}


@media only screen and (min-width: 320px) and (max-width:767px) {
.view-content {
    text-align: left;
    margin-top: 10px;
}

}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .main-menu{display: none!important;}
.header-wrap, .logo-menu-wrap, .main-menu, .profile-header{  
    width: 100%;
    margin: 0 auto;
}
.offline-page img{width:100%;}

.our-profile-area{
    width:100%
}
.our-profile-area .dropdown {
        display: inline-block;
        margin-left: auto;
    }
.category-info, .category-items {
    margin-bottom: 25px !important;
    width: 245px;
}
.right-side{ margin-left:auto; width:100%; }
.our-profile-area img, .name-email{ display:none; }


.header-wrap{ text-align:center;
    flex-wrap: inherit;}
.main-menu ul > li {
    margin-right: 10%;
}

.privacy-policy-terms-and-container{ text-align:left; }

} 

@media only screen and (min-width: 320px) and (max-width: 1023px) {
.detail-view .search-bar-parent {
    margin-bottom: 10px;
}

}

@media only screen and (min-width: 320px) and (max-width:540px) {
.category-info, .category-items {
    margin: 0 auto !important;
}

.slider-rating .imdb-rating:last-child {
    margin-top: 5px;
}
.view-content button {
    width: 43px;
    height: 43px;
    overflow: hidden;
    padding: 8px 0 0 2px;
    line-height: 27px;
}

.cnf-delete-btn {
    margin-top: 5px;
}
.category-item-listś {
    text-align: center;
}

.category-item-listś button.atf-btn {
    margin-top: 0;
    margin-bottom: 5px;
}

.margin-t{
    margin-top:5px; 
}

.toggle-text{
    display:none; 
}

.toggle-btn{
    width: 50px !important;
    padding-top: 0 !important;
    margin-top: 0px;
    position: absolute;
    right: 0;
}

}
@media only screen and (min-width: 1200px) and (max-width: 3000px) {
    .logo-menu-wrap .main-menu {
        margin-left:auto;
    }
}




.home-icon, .Watchlist-icon, .Favourite-icon{position: relative;}
.home-icon::before, .Watchlist-icon::before, .Favourite-icon::before   {
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    background-repeat: no-repeat;
    left: 14px;
    top: 20px;
}
.home-icon::before{
background: url(../images/House-f-1.svg);
}
.Watchlist-icon::before   {
    background: url(../images/monitorplayf.svg);
}
.Favourite-icon::before   {
    color : "#fff";
    background: url(../images/HeartStraight-f-1.svg)!important;
}

.home-icon-active, .Watchlist-icon-active, .Favourite-icon-active{
    position: relative;
    color: #ffb443!important;
}
.home-icon-active::before, .Watchlist-icon-active::before, .Favourite-icon-active::before   {
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    background-repeat: no-repeat;
    left: 14px;
    top: 20px;
}
.home-icon-active::before{
background: url(../images/housef.svg);
}
.Watchlist-icon-active::before   {
    background: url(../images/MonitorPlay-f.svg);
}
.Favourite-icon-active::before   {
    color : "#fff";
    background: url(../images/HeartStraight-f.svg)!important;
}
@media only screen and (min-width: 601px){
    .homepage-grids{
        margin-top: -16%;
    }
}
.zoom-container {
    width: 300px;
    height: 300px;
  }
  
  .zoom-container {
    width: 100%;
    height: auto;
    transition: transform .2s;
  }
  
  .zoom-container:hover{
    transform: scale(1.2);
  }
  button.react-multiple-carousel__arrow{
    background: #ffb443 !important;
  }
  .react-multiple-carousel__arrow--right::before, .react-multiple-carousel__arrow--left::before {
    color: #000!important
}

.poster-container {
    width: 498px;
    height: 345px;
    overflow: hidden; 
    position: relative;
  }

  .poster-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;

  }



.black-film {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4; 
    z-index : 0;
}
hr {
    border: 0;
    height: 1px;
    background-color: #ffb443;
}


/* Delete Confirmation Modal CSS */
#delete-confirmation{
    top: 30%;
}

#delete-confirmation .modal-content{
    border: 1px solid #ffb443;
    color : #fff;
}

#delete-confirmation .modal-body{
    padding:4rem; 
}


@media (min-width: 576px) {
    #delete-confirmation .modal-dialog {
      max-width: 700px;
    }
}

.cnf-cancel-btn{
    border-color : #ffb443;
}

.cnf-delete-btn{
    border-color : #dc3545;
}
a#logo{
    a:hover { color: unset; }
}

.new-watchlist-btn button{
    color : #000; 
    background-color: #ffb443;
}

/* New Watch list modal css */
#new-watchlist{
    top: 30%;
}

#new-watchlist .modal-content, #add-movies-to-watchlist .modal-content{
    border: 1px solid #ffb443;
    color : #fff;
}

#new-watchlist .modal-header{
    border:0px
}

#new-watchlist .modal-body{
    padding:2rem; 
}


@media (min-width: 576px) {
    #new-watchlist .modal-dialog {
      max-width: 500px;
    }
    #add-movies-to-watchlist .modal-dialog {
        max-width: 800px;
      }
}

.watchlist-label{
    font-size : 17px;
}

.watchlist-input{
    height : 40px; 
}

.thumbnail-115{
    width : 115px; 
    height : 110px; 
    border-radius: 10px;
}


/* zoom the div element */
.zoom {
    overflow: hidden;
    transition: transform 0.3s ease;
    /* display: inline-block; */
  }
  
.slider:hover .zoom {
transform: scale(0.9);
}


.zoom img {
transition: transform 0.3s ease;
}

.zoom:hover {
    transform: scale(1.1) !important; 
    z-index: 1; 
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

/* Pagination */
.page-nav nav {
    max-width: 350px;
    margin: 0 auto;
}

li.page-item:first-child, li.page-item:last-child {
    margin-left: 0;
}
.page-nav .page-link {
 border: 0;
 border-radius: 50%;
 width: 40px;
 height: 40px;
 background: rgba(255,255,255,0.12);
 color: #fff;
}
.page-nav .page-link:hover, .page-nav .page-link.active  {
 color: #000;
 background: #FFB443;
}
.page-nav .page-item {
 margin-left: 15px;
}
.page-nav .page-item:first-child .page-link, .page-nav .page-item:last-child .page-link {
 background: transparent;
}
.page-nav .page-item:first-child .page-link:hover, .page-nav .page-item:last-child .page-link:hover {
 color:#fff;
}

.react-multiple-carousel__arrow--right {
    right: calc(0% + 1px)!important;
}
.react-multiple-carousel__arrow--left {
    left: calc(0% + 1px)!important;
  }